openapi: "3.0.2"
info:
  title: Depict
  version: 1.0.0
servers:
  - url: http://ec2-34-229-106-174.compute-1.amazonaws.com:8090/dccservices/testcalls/depict
paths:
  /genepathway/object:
    summary: >
      Fetch gene sets containing the gene that are enriched (at a specified level of significance) for associations
      with a specified disease, according to the DEPICT method.
    get:
      parameters:
        - name: gene
          in: query
          required: true
          schema:
            type: string
        - name: phenotype
          in: query
          required: true
          schema:
            type: string
        - name: lt_value
          in: query
          required: true
          schema:
            type: number
      responses:
        default:
          description: >
            The predicted gene/pathway pairs, and significance, as well as other genes in the pathway.
          content:
            application/json:
              schema:
                type: object
                required: [ data ]
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      required: [ pathway_id, phenotype, pathway_description, gene, pvalue, gene_list, dataset ]
                      properties:
                        pathway_id:
                          type: string
                        phenotype:
                          type: string
                        pathway_description:
                          type: string
                        gene:
                          type: string
                        pvalue:
                          type: number
                        gene_list:
                          type: array
                          items:
                            type: string
                        dataset:
                          type: string
              example:
                data:
                  - pathway_id: GO:0015833
                    phenotype": T2D
                    pathway_description: peptide transport
                    gene: SLC30A8
                    pvalue: 0.000293383
                    gene_list: [
                      AACS, ABCA1, ABCB9, ABCC8, ACVR1C, TCF7L2, TFAP2B, TNF, TRH, TRPV1, TRPV4, UCN3, UTS2, VAMP2,
                      VGF
                    ]
                    dataset: GWAS_DIAMANTE_eu_dv2__T2D
                  - pathway_id: GO:0042803
                    phenotype: T2D
                    pathway_description: protein homodimerization activity
                    gene: SLC30A8
                    pvalue: 0.000415999
                    gene_list: [ AADAT,  ABAT, YARS2,  ZBTB16, ZBTB7B, ZNF174, ZNF423 ]
                    dataset: GWAS_DIAMANTE_eu_dv2__T2D
                  - pathway_id: MP:0005293
                    phenotype: T2D
                    pathway_description: impaired glucose tolerance
                    gene: SLC30A8
                    pvalue: 0.000213059
                    gene_list: [
                      ABCC8, ACADVL, ADCYAP1R1, ADIPOQ, ADIPOR1, ADIPOR2, TBC1D4, TGM2, THRA, UNC13A, VIPR1, WFS1,
                      ZEB1
                    ]
                    dataset: GWAS_DIAMANTE_eu_dv2__T2D
  /region/object:
    summary: >
      Fetch effector gene predictions for a specified trait within a region, according to the DEPICT method
    get:
      parameters:
        - name: gene
          in: query
          required: true
          schema:
            type: string
        - name: phenotype
          in: query
          required: true
          schema:
            type: string
      responses:
        default:
          description: A list of potential effector genes and their p-values
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  required: [ dataset, pheno, region_chr, region_start, region_end, gene, pvaluegene_ensemble_id ]
                  properties:
                    dataset:
                      type: string
                    pheno:
                      type: string
                    region_chr:
                      type: string
                    region_start:
                      type: integer
                    region_end":
                      type: integer
                    gene:
                      type: string
                    pvalue:
                      type: number
                    gene_ensemble_id:
                      type: string
              example:
                - dataset: GWAS_DIAMANTE_eu_dv2__T2D
                  pheno: T2D
                  region_chr: 8
                  region_start: 117962512
                  region_end: 118188953
                  gene: SLC30A8
                  pvalue: 0.000945569
                  gene_ensemble_id: ENSG00000164756




